@page "/"

<PageTitle>Home</PageTitle>

<h1>Notation teacher</h1>

<p>Got to <a href="learnnotes">Learn Notes</a> to start.</p>
<p>The website will save your progress automatically. Go to <a href="settings">settings</a> to import or export data.</p>