@using NotesAndScales
@page "/settings"
@inject DataService DataService

<PageTitle>Settings</PageTitle>

<h2>Loaded data</h2>
<p>Made at @(DataService.DataHolder.TimeCreated)@(DataService.LoadedFromStorage ? "" : " (was not loaded from storage).")</p>
<p>Loaded at @(DataService.DataHolder.TimeLoaded)</p>
@if (DataService.DataHolder.TimeSaved is not null)
{
    <p>Last saved at @(DataService.DataHolder.TimeSaved)</p>
}
else
{
    <p>Has never been saved.</p>
}

<h3>Manage loaded data</h3>
<a href="resetdata">Reset data</a>
<br />
<br />
<button @onclick="Save">Save now</button>
<button @onclick="Export">Export</button>
<button @onclick="Import">Import</button>
<br />
<br />

<style>
    .xml-text-area {
        width: 100%;
        height: calc(80vh - 400px);
    }
</style>

<code>
    <textarea class="xml-text-area" @bind="textAreaText"></textarea>
</code>

@code {

    public async Task Save()
    {
        await DataService.SaveData();
        await InvokeAsync(StateHasChanged);
    }  

    private string textAreaText = "Use this textbox to import and export data.";

    public void Import()
    {
        DataService.LoadXml(textAreaText);
        InvokeAsync(StateHasChanged);
    }

    public void Export()
    {
        textAreaText = DataService.DataHolder.ToXml();
    }
}
