@inherits LayoutComponentBase
@inject DataService DataService

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>


@code {
    // When the app first opens, it needs to retrieve any saved data from storage.
    private static bool alreadyLoaded = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!alreadyLoaded && firstRender)
        {
            alreadyLoaded = true;
            await DataService.LoadData();
            await InvokeAsync(StateHasChanged);
            Console.WriteLine("Loaded data from storage");
        }
    }
}
